* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth; 
}
textarea{
  resize: none;
}

.wrapper {
  max-width: 1095px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}