* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth; 
}
textarea{
  resize: none;
}

.wrapper {
  max-width: 1095px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}


/*  */

[data-theme='dark'].Theme-wrapper {
  color: white;
  /* background-color: black; */
}
[data-theme='dark'] .testContent {
  background: black;
}


.testContent {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}