.sell {
    height: 700px;
    background: rgba($color: #f2c0c0, $alpha: 1.0);
    &Title{
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        padding: 50px;
    }
    &CardsGroup {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}